# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

api-gateway/.idea
api-gateway/.mvn
api-gateway/*.imp
api-gateway/target
api-gateway/.classpath
api-gateway/.settings

spring-cloud-config-server/.idea
spring-cloud-config-server/.mvn
spring-cloud-config-server/*.imp
spring-cloud-config-server/target
spring-cloud-config-server/.classpath
spring-cloud-config-server/.settings

naming-server/.idea
naming-server/.mvn
naming-server/*.imp
naming-server/target
naming-server/.classpath
naming-server/.settings

limits-service/.idea
limits-service/.mvn
limits-service/*.imp
limits-service/target
limits-service/.classpath
limits-service/.settings

git-localconfig-repo/

currency-exchange-service/

currency-conversion-service/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
